<div class="card shadow mb-4 animated fadeIn">
    <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
        <h6 class="m-0 font-weight-bold text-primary">Supliers</h6>
        <button type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Company-Name</th>
                        <th>Contact-Name</th>
                        <th>Contact-Title</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Postal-Code</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Fax</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Company-Name</th>
                        <th>Contact-Name</th>
                        <th>Contact-Title</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>Postal-Code</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Fax</th>
                    </tr>
                </tfoot>
                <!-- <tbody>
                    <tr *ngFor="let suplier of suppliers">
                        <td>{{ suplier.companyname }}</td>
                        <td>{{ suplier.contactname }}</td>
                        <td>{{ suplier.contacttitle }}</td>
                        <td>{{ suplier.address }}</td>
                        <td>{{ suplier.city }}</td>
                        <td>{{ suplier.region }}</td>
                        <td>{{ suplier.postalcode }}</td>
                        <td>{{ suplier.country }}</td>
                        <td>{{ suplier.phone }}</td>
                        <td>{{ suplier.fax }}</td>
                        <td style="display: flex; justify-content: space-evenly;">
                            <button type="button" class="btn btn-warning" (click)="edit(suplier.id)">
                  Editar
                </button>
                            <button type="button" class="btn btn-danger" (click)="borrar(suplier.id)">
                  Eliminar
                </button>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>