<div class="card shadow mb-4 animated fadeIn">
    <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
        <button type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CategoryName</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CategoryName</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
                <!-- <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td>{{ categoria.categoryname }}</td>
                        <td>{{ categoria.description }}</td>
                        <td style="display: flex; justify-content: space-evenly;">
                            <button type="button" class="btn btn-warning" (click)="edit(categoria.id)">
                  Editar
                </button>
                            <button type="button" class="btn btn-danger" (click)="borrar(categoria.id)">
                  Eliminar
                </button>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>