<div class="card shadow mb-4 animated fadeIn">
    <div class="card-header py-3" style="display: flex; justify-content: space-between; align-items: center;">
        <h6 class="m-0 font-weight-bold text-primary">Products</h6>
        <button type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
      </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product-Name</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Quantity-per-unit</th>
                        <th>Unit-Price</th>
                        <th>Units-in-stock</th>
                        <th>Units-in-order</th>
                        <th>Reorder-Level</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product-Name</th>
                        <th>Supplier</th>
                        <th>Category</th>
                        <th>Quantity-per-unit</th>
                        <th>Unit-Price</th>
                        <th>Units-in-stock</th>
                        <th>Units-in-order</th>
                        <th>Reorder-Level</th>
                    </tr>
                </tfoot>
                <!-- <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{ product.productname }}</td>
                        <td>{{ product.supplier }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantityperunit }}</td>
                        <td>{{ product.unitprice }}</td>
                        <td>{{ product.unitinstock }}</td>
                        <td>{{ product.unitinorder }}</td>
                        <td>{{ product.reorderlevel }}</td>
                        <td style="display: flex; justify-content: space-evenly;">
                            <button type="button" class="btn btn-warning" (click)="edit(product.id)">
                  Editar
                </button>
                            <button type="button" class="btn btn-danger" (click)="borrar(product.id)">
                  Eliminar
                </button>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>
    </div>
</div>